<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.cjl.PosttableMapper" >
  <resultMap id="BaseResultMap" type="com.accp.pojo.Posttable" >
    <id column="postid" property="postid" jdbcType="INTEGER" />
    <result column="departmentid" property="departmentid" jdbcType="INTEGER" />
    <result column="postname" property="postname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    postid, departmentid, postname
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from posttable
   
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from posttable
    where postid = #{postid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.accp.pojo.Posttable" >
    insert into posttable (postid, departmentid, postname
      )
    values (#{postid,jdbcType=INTEGER}, #{departmentid,jdbcType=INTEGER}, #{postname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accp.pojo.Posttable" >
    insert into posttable
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="postid != null" >
        postid,
      </if>
      <if test="departmentid != null" >
        departmentid,
      </if>
      <if test="postname != null" >
        postname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="postid != null" >
        #{postid,jdbcType=INTEGER},
      </if>
      <if test="departmentid != null" >
        #{departmentid,jdbcType=INTEGER},
      </if>
      <if test="postname != null" >
        #{postname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.pojo.Posttable" >
    update posttable
    <set >
      <if test="departmentid != null" >
        departmentid = #{departmentid,jdbcType=INTEGER},
      </if>
      <if test="postname != null" >
        postname = #{postname,jdbcType=VARCHAR},
      </if>
    </set>
    where postid = #{postid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.pojo.Posttable" >
    update posttable
    set departmentid = #{departmentid,jdbcType=INTEGER},
      postname = #{postname,jdbcType=VARCHAR}
    where postid = #{postid,jdbcType=INTEGER}
  </update>
</mapper>